{% extends "layout.html" %}
{% block title %}Info page{% endblock %}

{% block content %}
<div class="p-5 bg-secondary bg-gradient text-light rounded">
    <h1 class="display-4">A cheeky little info page</h1>
    <p class="lead">This isn't even for DevOps</p>
</div>

<div>
    <p>
        Hi Jack, this isn't for DevOps stuff. I'm testing out some AI dev assisstants for Softwire, and I need to create a PR for 
        <a href="https://whatthediff.ai/">What The Diff</a>
        to automatically fill out PR description for me. So I'm creating a Cheeky Little Info Page (TM). 
    </p>
    <p>
        Anyway, this is a todo app that will help you organise your life. It's super awesome and not at all hacked together.
        The backend is handled via the trello api.
    </p>
</div>
{% endblock %}